.logo {
  width: 150px;
}

.navbar__bar-button {
  width: 25px;
  height: 25px;
  font-size: 25px;
  background: transparent;
  color: white;
  border: 0px;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 20px;
}

.main__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__actions-filter {
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.navbar__menu-text {
  padding-left: 30px;
  text-decoration: none;

}